body {
  justify-content: center;
}

p {
  font-family: muli, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: muli, sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  background-color: #dcdcdc;
}

.prodImg {
  width: 100%;
}

.JJlogo {
  width: 10%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.inputBox {
  width: 50%;
}

#root {
  background-color: #dcdcdc;
}
